
body {font-family: trebuchet;
    background-color: white;
    font-size: 15px;
    color: white;
    background-image: url("white.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #268c56;
}

li {
    float: left;
}

li a {
    font-family: trebuchet;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #288362;
}

.active {
    background-color: #1E5943;}

#welcome{font-family: trebuchet;
    font-size: 40px;
    color: black;}
#about{font-family: trebuchet;
    font-size: 30px;
    color: black;
    text-align: center;}
#des{margin: 200;
    font-family: trebuchet;
    font-size: 20px;
    color: black;
    text-align: center;}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    }
#text1{word-spacing: 15em;
        text-align: center;}
#text2{word-spacing: 15em;
        text-align: center;}
#text3{word-spacing: 15em;
        text-align: center;}
#imagesyo{
  align:center;
}



.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.icon-bar a:hover {
    background-color: #000;
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}

.content {
  margin-left: 75px;
  font-size: 30px;
}
